body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, .card-body>h5 {
  font-family: "Lobster", cursive;
}

h2 {
  color: #9933ff;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(#c0c0c0, white);
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #c0c0c0, #a0a0a0, #808080);
  color: white;
}

.jumbotron h2 {
  color: #CEC8FF;
}

.navbar-dark {
  background-color: #D2B7EE;
}